*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
app/src/main/gen/com/icen/icenlibs/BuildConfig.java
app/src/main/gen/com/icen/icenlibs/Manifest.java
app/src/main/gen/com/icen/icenlibs/R.java
blelibrary/src/main/gen/com/icen/blelibrary/BuildConfig.java
blelibrary/src/main/gen/com/icen/blelibrary/Manifest.java
blelibrary/src/main/gen/com/icen/blelibrary/R.java
pluginlibrary/src/main/gen/com/icen/pluginlibrary/BuildConfig.java
pluginlibrary/src/main/gen/com/icen/pluginlibrary/Manifest.java
pluginlibrary/src/main/gen/com/icen/pluginlibrary/R.java
.idea/misc.xml
